@use "../../../styles/assets/variables" as *;
@use "../../../styles/assets/mixins" as *;

.profile-page {
    width: 100%;
    min-height: 100%;
}

.profile-page-section {
    padding: 0.75rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    @include flex-column(0.75rem);
}
